/*
 * Full-screen overlays shown in the hybrid app that require the user
 * to take an action (e.g. log in) before running the app.
 */

 div.native_bounce_required_wall {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    color: var(--content-primary);
}

body.light div.native_bounce_required_wall button.capsule {
    /* Hardcoded, there's no rhyme or reason to primary vs. secondary */
    background-color: #79DDE8;
}

div.native_bounce_required_wall > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 32px;
    overflow: hidden;
}

div.native_bounce_required_wall > div.left {
    background-color: #052022;
}

body.light div.native_bounce_required_wall > div.left {
    background-color: #F7FBF7;
}

body.light div.native_bounce_required_wall > div.left svg.dark,
body.dark div.native_bounce_required_wall > div.left svg.light {
    display: none;
}

body.light div.native_bounce_required_wall > div.left svg {
    fill: rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 639px) {
    div.native_bounce_required_wall {
        grid-template-columns: 1fr;
    }
    div.native_bounce_required_wall > div.left {
        display: none;
    }
}

div.native_bounce_required_wall > div.right > div.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 16px 0px;
}

div.native_bounce_required_wall > div.right h1 {
  margin: 0;
  margin-bottom: 16px;

  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

div.native_bounce_required_wall > div.right div.title {
    margin-bottom: 16px;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

div.native_bounce_required_wall > div.right button {
  font-size: 14px;
  font-weight: 590;
  line-height: 20px;

  padding: 8px 16px;
  height: 40px;
}

div.native_bounce_required_wall > div.right p {
  color: var(--content-secondary);
  margin: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

div.native_bounce_required_wall > div.right p > a {
  color: var(---content-secondary);
  text-decoration: underline;
  text-underline-offset: 2px;
}

div.native_bounce_required_wall > div.right > div.devices {
    width: 100%;
    max-width: 480px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    padding: 24px 0px;
}

div.native_bounce_required_wall > div.right > div.devices > div.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
}

div.native_bounce_required_wall > div.right > div.devices > div.footer {
    flex-grow: 0;
    align-self: flex-end;
}

div.native_bounce_required_wall > div.right div.permissions {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;

    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

div.native_bounce_required_wall > div.right div.permissions > div.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    padding: 8px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--background-secondary);
}

div.native_bounce_required_wall > div.right div.permissions > div.row svg {
    fill: var(--content-primary);
    height: 16px;
    width: auto;
}

div.native_bounce_required_wall > div.right div.permissions > div.row span.loader {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

div.native_bounce_required_wall > div.right div.permissions > div.row div.type {
    overflow: hidden;
    text-overflow: ellipsis;
}

div.native_bounce_required_wall > div.right div.permissions > div.row button {
    height: fit-content;

    margin-left: auto;
    padding: 4px 8px;
}

div.native_bounce_required_wall > div.right div.permissions > div.row.allowed button,
div.native_bounce_required_wall > div.right div.permissions > div.row.installing button,
div.native_bounce_required_wall > div.right div.permissions > div.row.notInstallable button {
    display: none;
}

div.native_bounce_required_wall > div.right div.permissions > div.row svg.complete {
    margin-left: auto;
    fill: var(--action-success);
}

div.native_bounce_required_wall > div.right div.permissions > div.row svg.error {
    margin-left: auto;
    color: var(--action-destructive);
}

div.native_bounce_required_wall > div.right div.permissions > div.row:not(.allowed) svg.complete {
    display: none;
}

div.native_bounce_required_wall > div.right div.permissions > div.row:not(.notInstallable) svg.error {
    display: none;
}

div.native_bounce_required_wall > div.right div.permissions > div.row:not(.installing) span.loader {
    display: none;
}

div.native_bounce_required_wall > div.right div.permissions > div.row.virtual-camera {
    height: fit-content;
}

div.native_bounce_required_wall > div.right div.permissions > div.row.virtual-camera > div.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
}

div.native_bounce_required_wall > div.right div.permissions > div.row.virtual-camera > div.left > div.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 6px;
}
div.native_bounce_required_wall > div.right div.permissions > div.row.virtual-camera > div.left > div.bottom {
    color: var(--content-tertiary);
    font-size: 11px;
}
