
/* ============ TABS ====================*/

.mini .looks__tabs_header  {
    padding: var(--size-3);
    border-bottom: 1px solid var(--background-quaternary);
}


.mini  .looks__tabs_header nav {
    background-color: var(--background-primary);
    border-radius: var(--size-1-5);
    padding: var(--size-0-5);
    height: var(--size-8);
    position: relative;
    width: 100%;
    align-self: center;
}

.mini  .looks__tabs_header nav ul {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: var(--size-2);
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.mini  .looks__tabs_header nav li {
    height: 100%;
    overflow: hidden;
}

.mini  .looks__tabs_header nav .nav__indicator {
    overflow: hidden;
    padding: var(--size-0-5);
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: transform 0.2s var(--ease-bounce);
}

.mini  .looks__tabs_header nav .nav__indicator > div {
    height: 100%;
    border-radius: var(--size-1-5);
    background-color: var(--background-tertiary);
    border: 1px solid var(--background-quaternary);
}

.mini  .looks__tabs_header nav button {
    transition: color 200ms ease-in-out;
    transition-delay: 50ms;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: var(--size-1-5);
    border: 1px solid transparent;
    background-color: var(--background-primary);
    color: var(--content-tertiary);
    width: 100%;
    height: 100%;
}

.mini  .looks__tabs_header nav button > span {
    position: absolute;
    z-index: 10;
}

.mini  .looks__tabs_header nav li.active button {
    color: var(--content-primary);
    fill: var(--content-primary);
}


