div.dimming_overlay {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  transition: opacity 0.404s ease-in-out;
}

div.alert_view {
  --scale: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
  z-index: 100;

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 20px 12px 12px;
  background: var(--background-secondary);
  border: 1px solid var(--border-primary);
  border-radius: 12px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
  color: var(--content-primary);

  transition: opacity 0.404s ease-in-out, transform 0.404s ease-in-out;
}

@media only screen and (min-width: 512px) {
  div.alert_view {
    width: 380px;
    left: 50%;
  }
}

@media only screen and (max-width: 512px) {
  div.alert_view {
    width: 80%;
    left: 50%;
  }
}

div.alert_view div.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50px;
}

div.alert_view svg {
  margin-bottom: 16px;
  --icon-fill: var(--content-primary);
  color: var(--background-disabled);
  fill: var(--background-disabled);
}

div.alert_view div.icon svg {
  width: 100%;
  height: 100%;
}

div.alert_view div.title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--content-primary);
  margin-bottom: 4px;
}

div.alert_view div.body {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--content-tertiary);
}

div.alert_view div.dialog-footer {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

div.alert_view div.dialog-footer button {
  padding: 4px 12px !important;
  border-radius: 6px !important;
  font-size: 12px !important;
  font-weight: 500;
  line-height: 16px;
}

div.alert_view div.dialog-footer button.capsule:not(:first-of-type) {
  margin-left: 8px !important;
}

div.alert_view div.dialog-footer button.capsule.destructive {
  background-color: var(--background-tertiary);
  color: var(--action-destructive);
}

div.alert_view div.dialog-footer button.capsule.destructive:hover {
  background-color: var(--background-quaternary) !important;
}

div.alert_view button.action {
  background-color: var(--action-primary);
  color: #ffffff;
  border: 0px none;
  height: 24px;
  border-radius: 12px;
  font-size: 13px;
  color: white;
  margin-top: 16px;
  padding-top: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 4px;
}

div.alert_view button:active {
  filter: brightness(70%);
}

div.alert_view a {
  color: var(--action-primary);
}

div.alert_view a:visited {
  color: #c261bc;
}

/*
 * Fatal errors
 */
div.fatal_error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: calc(100vh - 62px);
  z-index: 100000;
  width: 100vw;
  background-color: var(--background-primary);
  position: relative;
  overflow: hidden;
  margin-top: -2px;
}

body.light div.fatal_error {
  background-color: var(--background-secondary);
}

div.fatal_error span.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  max-width: 400px;
  width: calc(100% - 24px);
}

div.fatal_error span.dialog div.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}

div.fatal_error span.dialog div.icon svg {
  width: 30px;
  height: auto;
  fill: white;
  opacity: 0.975;
}

div.fatal_error span.dialog div.title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--content-primary);
  margin-bottom: 8px;
}

div.fatal_error span.dialog div.body,
div.fatal_error span.dialog div.footer {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: var(--content-secondary);
}

div.fatal_error span.dialog div.footer {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

div.fatal_error span.dialog div.footer button.capsule {
  margin-top: 8px;
}

div.fatal_error input[type="submit"] {
  background-color: var(--action-primary);
  color: #ffffff;
  border: 0px none;
  height: 24px;
  border-radius: 12px;
  font-size: 13px;
  color: white;
  padding-top: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 4px;
}

div.fatal_error a {
  color: var(--action-secondary);
}

div.fatal_error a:visited,
div.fatal_error a:hover {
  color: var(--action-tertiary);
}

div#container div.error_help {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 24px;
  gap: 4px;
  color: var(--content-secondary);
  fill: var(--content-secondary);
  cursor: pointer;
}
