:root {
    --font-size-xxs: 0.6875rem; /* 11px */
    --font-size-xs: 0.75rem; /* 12px */
    --font-size-sm: 0.875rem; /* 14px */
    --font-size-md: 1rem; /* 16px */
    --font-size-lg: 1.125rem; /* 18px */
    --font-size-xl: 1.25rem; /* 20px */
    --font-size-2xl: 1.5rem; /* 24px */
    --font-size-3xl: 1.875rem; /* 30px */
    --font-size-4xl: 2.5rem; /* 40px */
    --font-size-5xl: 3rem; /* 48px */
    --font-size-6xl: 3.75rem; /* 60px */
    --font-size-7xl: 4.5rem; /* 72px */
    --font-size-8xl: 6rem; /* 96px */
    --font-size-9xl: 8rem; /* 128px */

    --font-weight-hairline: 100;
    --font-weight-thin: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;

    /* Heading styles */
    --heading2-font-size: 2.5rem;
    --heading2-line-height: 1.4;
    --heading2-font-weight: 800;

    --heading3-font-size: 2rem;
    --heading3-line-height: 1.25;
    --heading3-font-weight: 800;

    --heading4-font-size: 1.5rem;
    --heading4-line-height: 1.33;
    --heading4-font-weight: 800;

    --heading5-font-size: 1.25rem;
    --heading5-line-height: 1.6;
    --heading5-font-weight: 800;

    --heading6-font-size: 1rem;
    --heading6-line-height: 1.5;
    --heading6-font-weight: 700;

    /* Body styles */
    --body1-font-size: 1rem;
    --body1-line-height: 1.5;
    --body1-font-weight: 400;

    --body2-font-size: 0.875rem;
    --body2-line-height: 1.43;
    --body2-font-weight: 400;

    --body3-font-size: 0.875rem;
    --body3-line-height: 1.43;
    --body3-font-weight: 600;

    --body4-font-size: 0.75rem;
    --body4-line-height: 1.43;
    --body4-font-weight: 500;

    /* Caption styles */
    --caption1-font-size: 0.75rem;
    --caption1-line-height: 1.33;
    --caption1-font-weight: 400;

    --caption2-font-size: 0.6875rem;
    --caption2-line-height: 1.45;
    --caption2-font-weight: 400;

    --caption3-font-size: 0.55rem;
    --caption3-line-height: 1.45;
    --caption3-font-weight: 400;

    /* Subtitle styles */
    --subtitle1-font-size: 0.875rem;
    --subtitle1-line-height: 1.43;
    --subtitle1-font-weight: 700;

    --subtitle2-font-size: 0.75rem;
    --subtitle2-line-height: 1.33;
    --subtitle2-font-weight: 700;

    /* Camera 3.0 text styles */
    --headingMedium-font-size: 0.875rem; /* 14px */
    --headingMedium-line-height: 1.25;   /* 20px */
    --headingMedium-font-weight: 590;

    --headingSmall-font-size: 0.75rem; /* 12px */
    --headingSmall-line-height: 1.4;
    --headingSmall-font-weight: 590;

    --bodySmall-font-size: 0.6875rem; /* 11px */
    --bodySmall-line-height: 1.4;
    --bodySmall-font-weight: 400;

    --bodyMedium-font-size: 0.75rem; /* 12px */
    --bodyMedium-line-height: 1.4;
    --bodyMedium-font-weight: 400;

    --buttonDefault-font-size: 0.75rem; /* 12px */
    --buttonDefault-line-height: 1.15;
    --buttonDefault-font-weight: 510;

    --size-0: 0; /* 0px */
    --size-0-5: 0.125rem; /* 2px */
    --size-1: 0.25rem; /* 4px */
    --size-1-5: 0.375rem; /* 6px */
    --size-2: 0.5rem; /* 8px */
    --size-2-5: 0.625rem; /* 10px */
    --size-3: 0.75rem; /* 12px */
    --size-3-5: 0.875rem; /* 14px */
    --size-4: 1rem; /* 16px */
    --size-4-5: 1.125rem; /* 18px */
    --size-5: 1.25rem; /* 20px */
    --size-6: 1.5rem; /* 24px */
    --size-7: 1.75rem; /* 28px */
    --size-8: 2rem; /* 32px */
    --size-9: 2.25rem; /* 36px */
    --size-10: 2.5rem; /* 40px */
    --size-12: 3rem; /* 48px */

    /* Named scale */
    --size-xs: var(--size-1); /* 4px */
    --size-sm: var(--size-2); /* 8px */
    --size-md: var(--size-4); /* 16px */
    --size-lg: var(--size-6); /* 24px */
    --size-xl: var(--size-8); /* 32px */
    --size-2xl: var(--size-12); /* 48px */
}

body.light {
    --background-primary: #ffffff;
    --background-primary-alpha: rgba(255, 255, 255, 0.5);
    --background-secondary: #f5f5f5;
    --background-tertiary: #ebebeb;
    --background-quaternary: #e0e0e0;
    --background-disabled: #a1a0a4;
    --background-overlay: rgba(255, 255, 255, 0.5);

    --action-primary: #1A7580;
    --action-secondary: #1A7580;
    --action-light: #79DDE8; /* Don't ask */
    --action-hover: #99E5EE;
    --action-success: #40c288;
    --action-warning: #ff9500;
    --action-destructive: #ff715c;
    --action-destructive-secondary: #eb7d71;
    --action-destructive-new: #d6402f;

    --content-primary: #0a0a0e;
    --content-secondary: #3b3b3e;
    --content-tertiary: #4f4f51;
    --content-accent: #f9df74;

    --border-primary: rgba(0, 0, 0, 0.1);
    --border-secondary-fade: rgba(0, 0, 0, 0.025);
    --border-secondary: rgba(0, 0, 0, 0.05);
    --border-accent: #79DDE8;
    --border-accent-secondary: #79DDE8;

    --highlight-primary: rgba(0, 0, 0, 0.08);
}

body.dark {
    --background-primary: #0a0a0e;
    --background-primary-alpha: rgba(10, 10, 14, 0.5);
    --background-secondary: #16161a;
    --background-tertiary: #212127;
    --background-quaternary: #2f2f32;
    --background-disabled: #59565e;
    --background-overlay: rgba(0, 0, 0, 0.5);

    --action-primary: #79DDE8;
    --action-secondary: #79DDE8;
    --action-hover: #99E5EE;
    --action-success: #40c288;
    --action-warning: #ff9500;
    --action-destructive: #ff7661;
    --action-destructive-secondary: #eb7d71;

    --content-primary: #ffffff;
    --content-secondary: #d4d2d6;
    --content-tertiary: #b1b0b2;
    --content-accent: #f9df74;

    --border-primary: rgba(255, 255, 255, 0.1);
    --border-secondary-fade: rgba(255, 255, 255, 0.025);
    --border-secondary: rgba(255, 255, 255, 0.05);
    --border-accent: #79DDE8;
    --border-accent-secondary: #79DDE8;

    --highlight-primary: rgba(255, 255, 255, 0.08);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overscroll-behavior-x: none;
}

body {

    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    background-color: var(--background-primary);
    cursor: default;

    /* this is for centering modals */
    display: flex;
    align-items: center;
    justify-content: center;
}

body.light {
    background-color: var(--background-secondary);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--border-primary) transparent;
}

*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar:horizontal {
    height: 6px;
}

*::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--border-primary);
    border-radius: 20px;
}

/*
 * Generic
 */
button {
    cursor: pointer;
    transition: all 0.15s ease;
}

button.capsule {
    border: 0px none;
    height: 32px;
    border-radius: 6px;
    font-size: 13px;
    color: black;
    fill: black;
    padding: 4px 16px;
    font-weight: 500;
    background-color: var(--action-primary);
    transition: all 0.15s linear;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

button.capsule:active:enabled,
button.capsule:hover:enabled {
    background-color: var(--action-hover);
}
button.capsule.destructive {
    background-color: var(--background-tertiary);
    color: var(--action-destructive);
}
button.capsule.destructive:active,
button.capsule.destructive:hover {
    color: white;
    background-color: var(--action-destructive);
}

button.capsule.secondary {
    background-color: var(--background-tertiary);
    color: var(--content-primary);
    stroke: var(--content-primary);
    fill: var(--content-primary);
}

body.light button.capsule.secondary {
    background-color: var(--background-secondary);
}

body.light button.capsule.secondary:hover {
    background-color: var(--background-tertiary);
}

button.capsule.secondary:hover:enabled {
    background: var(--background-quaternary);
}

button.capsule.secondary:active:enabled {
    opacity: 30%;
}

button.capsule.full {
    width: 100%;
}

button.capsule:disabled,
button.capsule.secondary:disabled {
    cursor: not-allowed;
    opacity: 30%;
    background-color: var(--background-tertiary);
    color: var(--content-tertiary);
    stroke: none;
    fill: var(--content-tertiary);
}

body.light button.capsule:disabled,
body.light button.capsule.secondary:disabled {
    background-color: var(--background-secondary);
    color: var(--content-tertiary);
    stroke: none;
    fill: var(--content-tertiary);
}

button.icon.capsule.border {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--content-secondary);
    fill: var(--content-secondary);
    background-color: unset;
    padding: 8px;
}

button.icon.capsule.border:hover {
    background-color: var(--background-secondary);
}

body.light button.icon.capsule.border {
    background-color: var(--background-primary);
}

button.icon.capsule.border.active:hover,
body.light button.icon.capsule.border.active:hover {
    background-color: var(--background-tertiary);
    border-color: var(--background-quaternary);
}

button.icon.capsule.secondary {
    width: 36px;
    height: 32px;
    padding: 0;
}

/*
 * Segmented Controls
 */
span.segmented {
    --segment-height: 32px;
    --corner-radius: 6px;
    --min-segment-width: 30px;

    display: flex;
    align-items: center;
    border-radius: var(--corner-radius);
    min-height: var(--segment-height);
    max-height: var(--segment-height);
    height: var(--segment-height);
    margin: 0px;
    overflow: hidden;
    border: 1px solid var(--border-secondary);
    gap: 8px;
}

span.segmented button.segment {
    flex: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    fill: var(--content-primary);
    color: var(--content-primary);
    margin: 0px;
    padding: 0px 8px;
    min-width: var(--min-segment-width);
    background-color: transparent;
    gap: 4px;
    font-size: 14px;
    font-weight: 600;
    border-radius: var(--corner-radius);
}

body.light span.segmented button.segment {
    fill: var(--content-secondary);
    color: var(--content-secondary);
}

span.segmented button.segment:hover {
    background-color: var(--border-primary);
}

span.segmented button.segment:disabled {
    cursor: not-allowed;
}

span.segmented button.segment.selected {
    background-color: rgba(111, 99, 255, 0.1);
    fill: var(--action-primary);
    color: var(--action-primary);
}

div.divider {
    width: 1px;
    height: 16px;
    background-color: var(--border-primary);
}

a {
  color: var(--action-primary);
  fill: var(--action-primary);
  cursor: pointer;
}

a:hover {
  color: var(--action-secondary);
  fill: var(--action-secondary);
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="url"],
textarea,
select {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-primary);
  border-radius: 6px;
  padding: 10px;
  color: var(--content-primary);
  margin-bottom: 4px;
  width: 100%;
  transition: border 0.2s ease;
  line-height: 1.2;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="search"]:hover,
input[type="url"]:hover,
textarea:hover,
select:enabled:hover {
  border: 1px solid var(--content-tertiary);
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="url"],
textarea,
select,
button {
  outline: 2px solid transparent;
}

input[type="text"]:focus-visible,
input[type="email"]:focus-visible,
input[type="search"]:focus-visible,
input[type="url"]:focus-visible,
textarea:focus-visible,
select:focus-visible,
button:focus-visible {
  outline: 2px solid var(--content-primary);
  outline-offset: -2px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  fill: var(--content-primary);
  background-position: center;
}

input[type="search"]::-webkit-search-cancel-button {
  background-color: var(--border-secondary);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTQuOTExIDEwLjMxMWEuNTUuNTUgMCAxIDAgLjc3OC43NzhMOCA4Ljc3OGwyLjMxMSAyLjMxYS41NS41NSAwIDEgMCAuNzc4LS43NzdMOC43NzggOGwyLjMxLTIuMzExYS41NS41NSAwIDEgMC0uNzc3LS43NzhMOCA3LjIyMmwtMi4zMTEtMi4zMWEuNTUuNTUgMCAxIDAtLjc3OC43NzdMNy4yMjIgOGwtMi4zMSAyLjMxMVoiIGZpbGw9IiMxNTE0MWEiLz48L3N2Zz4=);
}

input[type="search"]::-webkit-search-cancel-button {
  background-color: #403e46;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTQuOTExIDEwLjMxMWEuNTUuNTUgMCAxIDAgLjc3OC43NzhMOCA4Ljc3OGwyLjMxMSAyLjMxYS41NS41NSAwIDEgMCAuNzc4LS43NzdMOC43NzggOGwyLjMxLTIuMzExYS41NS41NSAwIDEgMC0uNzc3LS43NzhMOCA3LjIyMmwtMi4zMTEtMi4zMWEuNTUuNTUgMCAxIDAtLjc3OC43NzdMNy4yMjIgOGwtMi4zMSAyLjMxMVoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=);
}

select {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0px;
  background-color: var(--background-primary);
  border: 1px solid transparent;
  padding-right: 32px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid var(--action-primary);
  border-radius: 4px;
  margin-left: 0px;
  margin-right: 8px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--action-primary);
  fill: black;
}

input[type="checkbox"]::before {
  content: url('data:image/svg+xml; utf8, <svg width="10" height="9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.009 8.903c.335 0 .592-.132.771-.395L9.326 1.55c.062-.098.108-.192.137-.283a.86.86 0 0 0 .044-.264.76.76 0 0 0-.23-.566.797.797 0 0 0-.58-.225.787.787 0 0 0-.406.098.989.989 0 0 0-.312.322l-3.99 6.304L1.958 4.42a.804.804 0 0 0-.65-.317.804.804 0 0 0-.585.229.765.765 0 0 0-.23.571c0 .101.018.199.054.293a.992.992 0 0 0 .185.293l2.52 3.052c.202.24.454.361.757.361Z" fill="black"/></svg>');
  position: absolute;
  width: 16px;
  height: 16px;
  left: 2px;
  bottom: 2px;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  visibility: visible;
}

svg {
  flex-shrink: 0;
}
