div.drawing_controls {
  border-radius: 100px;
  background-color: var(--background-secondary);
  color: var(--content-primary);
  fill: var(--content-primary);
  stroke: var(--content-primary);
  font-size: 13px;

  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

div.drawing_controls button {
  max-height: 24px;
  background-color: transparent;
  border: none;
  color: var(--content-primary);
}

div.drawing_controls button:nth-child(n + 1) {
  margin-left: 5px;
}

div.drawing_controls button.close-button {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 8px;
}

div.drawing_controls span.tabs {
  height: 24px;
}

div.drawing_controls .divider {
  height: 24px;
  margin-left: 16px;
  background-color: var(--border-primary);
}

div.drawing_controls button.action {
  border: 0px none;
  height: 24px;
  border-radius: 12px;
  font-size: 13px;
  background-color: var(--border-secondary);
  padding-top: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 4px;
  color: var(--content-primary);
}

div.drawing_controls button.action:active {
  background-color: var(--border-primary);
}

div.drawing_controls button.sketch_color {
  transform: translateZ(0);
  padding-top: 1px;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  border: 0px none;
}

button.sketch_color.selected::after {
  position: absolute;
  top: -4px;
  content: "";
  left: -4px;
  width: 30px;
  height: 30px;
  border: 3px solid var(--action-primary);
  border-radius: 30px;
  background-color: transparent;
  display: inherit;
}
