//
//  mmhmm Helper GPU.xcconfig
//  mmhmm
//
//  Created by Beni Federer on 09.07.24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "mmhmm Helper Base Config.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = app.mmhmm.hybrid.helper.gpu
PRODUCT_NAME = Airtime Helper (GPU)
