div.text_format_bar {
  display: flex;
  gap: 4px;
}

div.text_format_bar button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-secondary);
  color: var(--content-secondary);
  fill: var(--content-secondary);
  border: 0px none;
  border-radius: 4px;
  gap: 8px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: normal;
}

div.text_format_bar button:hover {
  background-color: var(--background-primary);
}

div.text_format_bar button:disabled {
    background-color: var(--background-secondary) !important;
    opacity: 25%;
    cursor: unset;
}

div.text_format_bar button.toggle {
  width: 32px;
  height: 32px;
  gap: 4px;
}

div.text_format_bar button.toggle.selected {
  background-color: var(--border-primary);
}

div.text_format_bar button span.list {
    overflow: hidden;
    --list-height: 24px;
    height: var(--list-height);
}

div.text_format_bar button span.list div.option {
    display: block;
    visibility: hidden;
    height: var(--list-height);
}

div.text_format_bar button span.list div.option.selected {
    visibility: visible;
    display: table-cell;
    vertical-align: middle;
}

div.textstyle_variant {
  font-size: 10pt !important;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

div.textstyle_variant div.layer {
    border-radius: 4px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.variant_grid_sheet {
  min-width: unset !important;
  width: 116px;
}

div.variant_grid {
    padding: 8px 8px 4px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    justify-items: start;
}

div.variant_grid > button.textstyle_variant {
  position: relative;
  aspect-ratio: 1/1;
  border-radius: 4px;
  border: none;
  padding: 4px;
  width: 100%;
  height: 100%;
}

div.variant_grid > button.textstyle_variant > div.layer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

div.variant_grid > button.textstyle_variant.selected::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid var(--action-primary);
  border-radius: 8px;
}

.textstyle_variant > div.layer > div.cutout {
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent !important;
}
