*.gypcmd
*.mk
*.ncb
*.opensdf
*.props
*.pyc
*.rules
*.sdf
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.targets
*.user
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.vscode/
*.idea/
xcuserdata/
*_proto.xml
*_proto_cpp.xml
*~
!Android.mk
.*.sw?
.DS_Store
.build
.classpath
.cproject
.gdb_history
.gdbinit
.landmines
.metadata
.project
.pydevproject
# Settings directory for eclipse
/.settings
.checkstyle
.sentry-native/
cscope.*
Session.vim
tags
Thumbs.db
# CEF build directory
**/build
# clang-format downloads
/tools/buildtools/external_bin
/tools/buildtools/linux64/clang-format
/tools/buildtools/mac/clang-format
/tools/buildtools/win/clang-format.exe
.vs
/out
*.tlog
*.obj
*.log
*.recipe
*.inc
*.idb
*.aps
/win/**/bin
win/camera
/win/Debug
/win/Release
/win/packages
/win/VirtualCameraTests/Debug/
/win/VirtualCameraTests/Release/
/win/VirtualCameraTests/Win32/
/win/VirtualCameraTests/x64/
/win/Win32/
/win/x64/
/win/**/dist
/win/**/int
/win/memix/plgMemixVirtualCam/exe32
win/memix/plgMemixVirtualCam/exe64
win/mmhmmSetup/**/obj/*
win/mmhmmSetup/packages/*
win/mmhmmSetup/wixMmhmmSetup/mmhmmHybridFiles.wxs
third_party
!chromium-modifications/src/third_party
*.profraw
mmhmm-hybrid/mac/third-party/CEF_replaced*
mmhmm-hybrid/resources/mac/mmhmm-client.pak
mac/Sparkle Server/server.pem
mac/Sparkle Server/server.crt
mac/Sparkle Server/*.zip
mac/Sparkle Server/*.xml
mac/Build-Tools/*.app
mac/Build-Tools/*.html
mac/Build-Tools/*.xml
mac/Build-Tools/*.zip
mac/Build-Tools/dmg-source-folder
mac/Build-Tools/*.dmg
