/*
 * Account menu header
 */
div.account_header {
  width: 220px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px 8px;
  padding: 10px 16px 12px 16px;
  align-items: center;
}

div.account_header div.fullname {
  grid-column: 2;
  grid-row: 1;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: var(--content-primary);
}

div.account_header div.email {
  grid-column: 2;
  grid-row: 2;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  color: var(--content-secondary);
}

div.account_header button.avatar {
  grid-column: 1;
  grid-row: 1 / 3;

  border: 0px none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;

  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: clip;
}

div.account_header button.avatar div.wrapper {
  position: relative;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

div.account_header button.avatar img.thumbnail {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100% !important;
  height: 100% !important;
  margin-left: 0px !important;
  object-fit: cover;
}

div.account_header button.avatar div.rollover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;

  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.2s ease-in-out;
}

div.account_header button.avatar:hover > div.wrapper > div.rollover {
  opacity: 1;
}

div.account_header button.avatar div.rollover div.text {
  position: relative;

  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-style: normal;
  font-weight: 510;
  font-size: 12px;
}
