name: Deploy preview build
on:
  workflow_dispatch:
  push:
    # Run on any branch containing an issue number, e.g.
    # "feature/1234-feature-name", "bugfix/4321-big-bug", or "9999_do_a_thing"
    branches:
      - "[a-zA-Z]+/[0-9]+-*"
      - "[a-zA-Z]+/[0-9]+_*"
      - "[0-9]+-*"
      - "[0-9]+_*"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Set build identifier
        run: echo "BUILD_ID=$(git rev-parse --short=7 HEAD)" >> "$GITHUB_ENV"

      - name: Build the distribution
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        run: npm run build-internal

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      # Extract the issue number from a branch name, e.g. extract
      # "1234" from "feature/1234-amazing-stuff", or
      # "4321" from "4321_fix_the_bugs"
      - name: Extract issue number
        id: issue-extractor
        run: echo "ISSUE_NUMBER=$(echo $GITHUB_REF_NAME | sed -rn 's/^([a-zA-Z]+\/)?([0-9]{1,5})[_-].*$/\2/p')" >> "$GITHUB_OUTPUT"

      # Deploy to /preview/ID, where ID is the GitHub issue number
      # We include "/preview/" in the path explicitly, instead of relying on it being in the branch name,
      # to ensure that we never mistakenly overwrite a "real" deployment.
      # As a safety check, we ensure that we actually extracted an issue number
      - name: Deploy to S3
        if: ${{ steps.issue-extractor.outputs.ISSUE_NUMBER != ''}}
        run: aws s3 cp --recursive ./deploy/ s3://${{vars.AWS_S3_BUCKET}}/preview/$ISSUE_NUMBER
        env:
          ISSUE_NUMBER: ${{ steps.issue-extractor.outputs.ISSUE_NUMBER }}

      - name: Invalidate CloudFront Cache
        run: aws cloudfront create-invalidation --distribution-id ${{ vars.AWS_CLOUDFRONT_DISTRIBUTION_ID }} --paths "/preview/$ISSUE_NUMBER/*"
        env:
          ISSUE_NUMBER: ${{ steps.issue-extractor.outputs.ISSUE_NUMBER }}
