body {
    font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: whitesmoke;
    }
    
    h3 {
        font-weight: 600;
    }
}

.property, .function {
    border: 1px dashed goldenrod;
    border-width: 2px;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
}

.property span, .function span {
    font-size: 0.9em;
    padding: 0.3em;
    padding-right: 0em;
    border: 1px solid goldenrod;
    background-color:darkslategrey;
}

.state, .property span label {
    font-family: sans-serif;
    padding: 0.3em;
    border: 1px solid goldenrod;
    background-color: blanchedalmond;
    color: black;
    font-weight: bold;
}

.button {
    background-color: gainsboro;
    border: 1px solid goldenrod;
    border-radius: 5px;
    box-shadow: 0px 2px darkgoldenrod;
    padding: 0.5em;
}

.button:hover {
    background-color: ghostwhite;
}

.button:active {
    background-color: ghostwhite;
    transform: translateY(1px);
    box-shadow: 0px 1px darkgoldenrod;
}