body {
    background-color: var(--background-primary);
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    overflow-x: hidden;
    display: flex;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
  }

  .horizontal-center {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .message-text-primary {
    color: var(--content-primary);
    margin: 8px;
  }
  .message-text-secondary {
    color: var(--content-secondary);
    margin: 16px;
  }

  svg>path {
    fill: var(--content-primary);
  }