div.automatic_tint_dialog {
    display: flex;
    flex-direction: column;
    justify-content: left;

    gap: 12px;
    padding: 0px 12px 12px 16px;

    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--content-tertiary);
}

div.automatic_tint_dialog div.colors {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: unset;
}

div.automatic_tint_dialog div.colors > .option {
    width: 20px;
    height: 20px;
    margin: 3px;
    border-radius: 4px;
    border: unset;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.automatic_tint_dialog div.colors > .option > .border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 4px;
}

div.automatic_tint_dialog div.footer {
    align-self: flex-end;
}

/* Auto tint sheet placement */
div.sheet.autotint_sheet {
    position: relative !important;

    top: unset !important;
    bottom: unset !important;
    left: unset !important;
    right: unset !important;
}

div.sheet.autotint_sheet > div.contents {
    max-height: unset !important;
}

body.mini div.sheet.autotint_sheet {
    margin-top: auto !important;
    margin-bottom: 32px !important;
}

body:not(.mini) div.sheet.autotint_sheet {
    margin-left: auto !important;
    margin-right: 32px !important;
}

body.mini div.dimming_overlay:has(+ div.sheet.autotint_sheet) {
    display: none;
}