div.chroma_threshold {
  height: 20px;
  --slider_width: calc(100% - 12px);
  --chroma_color: rgb(0, 255, 0);
  position: relative;
  padding: 4px;
}

div.chroma_threshold input[type="range"] {
  padding: 0px;
  margin: 0px;
  -webkit-appearance: none;
  background-color: transparent;
  z-index: 0;
  pointer-events: none;
  height: 20px;
  position: absolute;
  top: 4px;
  width: var(--slider_width);
}

/* WebKit/Chromium styling */
div.chroma_threshold input[type="range"].low::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    var(--chroma_color) 50%,
    rgb(0, 0, 0) 100%
  );
  height: 4px;
  border-radius: 2px;
}

div.chroma_threshold input[type="range"].high::-webkit-slider-runnable-track {
  height: 4px;
  -webkit-appearance: none;
}

div.chroma_threshold input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: auto;
  border: 0px none;
  width: 18px;
  height: 20px;
  margin-top: -8px;
}

div.chroma_threshold input[type="range"].low::-webkit-slider-thumb {
  margin-left: -7px;
  background: transparent
    url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsdGVyPSJ1cmwoI2EpIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0uNikiPjxwYXRoIGQ9Ik00IDE4YTIgMiAwIDAgMS0yLTJWNGEyIDIgMCAwIDEgMi0yaDUuNWEyIDIgMCAwIDEgMS42NTQuODc1bDQuMDgxIDZhMiAyIDAgMCAxIDAgMi4yNWwtNC4wOCA2QTIgMiAwIDAgMSA5LjUgMThINFoiIGZpbGw9IiNmZmYiLz48cGF0aCBkPSJNMS43NSAxNkEyLjI1IDIuMjUgMCAwIDAgNCAxOC4yNWg1LjVhMi4yNSAyLjI1IDAgMCAwIDEuODYtLjk4NWw0LjA4Mi02YTIuMjUgMi4yNSAwIDAgMCAwLTIuNTNsLTQuMDgxLTZBMi4yNSAyLjI1IDAgMCAwIDkuNSAxLjc1SDRBMi4yNSAyLjI1IDAgMCAwIDEuNzUgNHYxMloiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLW9wYWNpdHk9Ii4wNiIgc3Ryb2tlLXdpZHRoPSIuNSIvPjwvZz48ZGVmcz48ZmlsdGVyIGlkPSJhIiB4PSIuNSIgeT0iLjc1IiB3aWR0aD0iMTYuNTgxIiBoZWlnaHQ9IjE5IiBmaWx0ZXJVbml0cz0idXNlclNwYWNlT25Vc2UiIGNvbG9yLWludGVycG9sYXRpb24tZmlsdGVycz0ic1JHQiI+PGZlRmxvb2QgZmxvb2Qtb3BhY2l0eT0iMCIgcmVzdWx0PSJCYWNrZ3JvdW5kSW1hZ2VGaXgiLz48ZmVDb2xvck1hdHJpeCBpbj0iU291cmNlQWxwaGEiIHZhbHVlcz0iMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMTI3IDAiIHJlc3VsdD0iaGFyZEFscGhhIi8+PGZlT2Zmc2V0IGR5PSIuMjUiLz48ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIuNSIvPjxmZUNvbG9yTWF0cml4IHZhbHVlcz0iMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMC4yIDAiLz48ZmVCbGVuZCBpbjI9IkJhY2tncm91bmRJbWFnZUZpeCIgcmVzdWx0PSJlZmZlY3QxX2Ryb3BTaGFkb3dfMTA2MTVfNzciLz48ZmVCbGVuZCBpbj0iU291cmNlR3JhcGhpYyIgaW4yPSJlZmZlY3QxX2Ryb3BTaGFkb3dfMTA2MTVfNzciIHJlc3VsdD0ic2hhcGUiLz48L2ZpbHRlcj48L2RlZnM+PC9zdmc+");
}

div.chroma_threshold input[type="range"].high::-webkit-slider-thumb {
  margin-left: 7px;
  background: transparent
    url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsdGVyPSJ1cmwoI2EpIj48cGF0aCBkPSJNMTQgMThhMiAyIDAgMCAwIDItMlY0YTIgMiAwIDAgMC0yLTJIOC41YTIgMiAwIDAgMC0xLjY1NC44NzVsLTQuMDgxIDZhMiAyIDAgMCAwIDAgMi4yNWw0LjA4IDZBMiAyIDAgMCAwIDguNSAxOEgxNFoiIGZpbGw9IiNmZmYiLz48cGF0aCBkPSJNMTYuMjUgMTZBMi4yNSAyLjI1IDAgMCAxIDE0IDE4LjI1SDguNWEyLjI1IDIuMjUgMCAwIDEtMS44Ni0uOTg1bC00LjA4Mi02YTIuMjUgMi4yNSAwIDAgMSAwLTIuNTNsNC4wODEtNkEyLjI1IDIuMjUgMCAwIDEgOC41IDEuNzVIMTRBMi4yNSAyLjI1IDAgMCAxIDE2LjI1IDR2MTJaIiBzdHJva2U9IiMwMDAiIHN0cm9rZS1vcGFjaXR5PSIuMDYiIHN0cm9rZS13aWR0aD0iLjUiLz48L2c+PGRlZnM+PGZpbHRlciBpZD0iYSIgeD0iLjkxOSIgeT0iLjc1IiB3aWR0aD0iMTYuNTgxIiBoZWlnaHQ9IjE5IiBmaWx0ZXJVbml0cz0idXNlclNwYWNlT25Vc2UiIGNvbG9yLWludGVycG9sYXRpb24tZmlsdGVycz0ic1JHQiI+PGZlRmxvb2QgZmxvb2Qtb3BhY2l0eT0iMCIgcmVzdWx0PSJCYWNrZ3JvdW5kSW1hZ2VGaXgiLz48ZmVDb2xvck1hdHJpeCBpbj0iU291cmNlQWxwaGEiIHZhbHVlcz0iMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMTI3IDAiIHJlc3VsdD0iaGFyZEFscGhhIi8+PGZlT2Zmc2V0IGR5PSIuMjUiLz48ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIuNSIvPjxmZUNvbG9yTWF0cml4IHZhbHVlcz0iMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMC4yIDAiLz48ZmVCbGVuZCBpbjI9IkJhY2tncm91bmRJbWFnZUZpeCIgcmVzdWx0PSJlZmZlY3QxX2Ryb3BTaGFkb3dfMTA2MTVfNzgiLz48ZmVCbGVuZCBpbj0iU291cmNlR3JhcGhpYyIgaW4yPSJlZmZlY3QxX2Ryb3BTaGFkb3dfMTA2MTVfNzgiIHJlc3VsdD0ic2hhcGUiLz48L2ZpbHRlcj48L2RlZnM+PC9zdmc+");
}

/* Mozilla styling */
div.chroma_threshold input[type="range"].low::-moz-range-track {
  -webkit-appearance: none;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    var(--chroma_color) 50%,
    rgb(0, 0, 0) 100%
  );
  height: 4px;
  border-radius: 2px;
}

div.chroma_threshold input[type="range"].high::-moz-range-track {
  height: 4px;
  -webkit-appearance: none;
}

div.chroma_threshold input[type="range"]::-moz-range-thumb {
  pointer-events: auto;
  border: 0px none;

  width: 18px;
  height: 20px;
  margin-top: -8px;
}

div.chroma_threshold input[type="range"].low::-moz-range-thumb {
  margin-left: -7px;
  background: transparent
    url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsdGVyPSJ1cmwoI2EpIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0uNikiPjxwYXRoIGQ9Ik00IDE4YTIgMiAwIDAgMS0yLTJWNGEyIDIgMCAwIDEgMi0yaDUuNWEyIDIgMCAwIDEgMS42NTQuODc1bDQuMDgxIDZhMiAyIDAgMCAxIDAgMi4yNWwtNC4wOCA2QTIgMiAwIDAgMSA5LjUgMThINFoiIGZpbGw9IiNmZmYiLz48cGF0aCBkPSJNMS43NSAxNkEyLjI1IDIuMjUgMCAwIDAgNCAxOC4yNWg1LjVhMi4yNSAyLjI1IDAgMCAwIDEuODYtLjk4NWw0LjA4Mi02YTIuMjUgMi4yNSAwIDAgMCAwLTIuNTNsLTQuMDgxLTZBMi4yNSAyLjI1IDAgMCAwIDkuNSAxLjc1SDRBMi4yNSAyLjI1IDAgMCAwIDEuNzUgNHYxMloiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLW9wYWNpdHk9Ii4wNiIgc3Ryb2tlLXdpZHRoPSIuNSIvPjwvZz48ZGVmcz48ZmlsdGVyIGlkPSJhIiB4PSIuNSIgeT0iLjc1IiB3aWR0aD0iMTYuNTgxIiBoZWlnaHQ9IjE5IiBmaWx0ZXJVbml0cz0idXNlclNwYWNlT25Vc2UiIGNvbG9yLWludGVycG9sYXRpb24tZmlsdGVycz0ic1JHQiI+PGZlRmxvb2QgZmxvb2Qtb3BhY2l0eT0iMCIgcmVzdWx0PSJCYWNrZ3JvdW5kSW1hZ2VGaXgiLz48ZmVDb2xvck1hdHJpeCBpbj0iU291cmNlQWxwaGEiIHZhbHVlcz0iMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMTI3IDAiIHJlc3VsdD0iaGFyZEFscGhhIi8+PGZlT2Zmc2V0IGR5PSIuMjUiLz48ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIuNSIvPjxmZUNvbG9yTWF0cml4IHZhbHVlcz0iMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMC4yIDAiLz48ZmVCbGVuZCBpbjI9IkJhY2tncm91bmRJbWFnZUZpeCIgcmVzdWx0PSJlZmZlY3QxX2Ryb3BTaGFkb3dfMTA2MTVfNzciLz48ZmVCbGVuZCBpbj0iU291cmNlR3JhcGhpYyIgaW4yPSJlZmZlY3QxX2Ryb3BTaGFkb3dfMTA2MTVfNzciIHJlc3VsdD0ic2hhcGUiLz48L2ZpbHRlcj48L2RlZnM+PC9zdmc+");
}

div.chroma_threshold input[type="range"].high::-moz-range-thumb {
  margin-left: 7px;
  background: transparent
    url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsdGVyPSJ1cmwoI2EpIj48cGF0aCBkPSJNMTQgMThhMiAyIDAgMCAwIDItMlY0YTIgMiAwIDAgMC0yLTJIOC41YTIgMiAwIDAgMC0xLjY1NC44NzVsLTQuMDgxIDZhMiAyIDAgMCAwIDAgMi4yNWw0LjA4IDZBMiAyIDAgMCAwIDguNSAxOEgxNFoiIGZpbGw9IiNmZmYiLz48cGF0aCBkPSJNMTYuMjUgMTZBMi4yNSAyLjI1IDAgMCAxIDE0IDE4LjI1SDguNWEyLjI1IDIuMjUgMCAwIDEtMS44Ni0uOTg1bC00LjA4Mi02YTIuMjUgMi4yNSAwIDAgMSAwLTIuNTNsNC4wODEtNkEyLjI1IDIuMjUgMCAwIDEgOC41IDEuNzVIMTRBMi4yNSAyLjI1IDAgMCAxIDE2LjI1IDR2MTJaIiBzdHJva2U9IiMwMDAiIHN0cm9rZS1vcGFjaXR5PSIuMDYiIHN0cm9rZS13aWR0aD0iLjUiLz48L2c+PGRlZnM+PGZpbHRlciBpZD0iYSIgeD0iLjkxOSIgeT0iLjc1IiB3aWR0aD0iMTYuNTgxIiBoZWlnaHQ9IjE5IiBmaWx0ZXJVbml0cz0idXNlclNwYWNlT25Vc2UiIGNvbG9yLWludGVycG9sYXRpb24tZmlsdGVycz0ic1JHQiI+PGZlRmxvb2QgZmxvb2Qtb3BhY2l0eT0iMCIgcmVzdWx0PSJCYWNrZ3JvdW5kSW1hZ2VGaXgiLz48ZmVDb2xvck1hdHJpeCBpbj0iU291cmNlQWxwaGEiIHZhbHVlcz0iMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMTI3IDAiIHJlc3VsdD0iaGFyZEFscGhhIi8+PGZlT2Zmc2V0IGR5PSIuMjUiLz48ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIuNSIvPjxmZUNvbG9yTWF0cml4IHZhbHVlcz0iMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMC4yIDAiLz48ZmVCbGVuZCBpbjI9IkJhY2tncm91bmRJbWFnZUZpeCIgcmVzdWx0PSJlZmZlY3QxX2Ryb3BTaGFkb3dfMTA2MTVfNzgiLz48ZmVCbGVuZCBpbj0iU291cmNlR3JhcGhpYyIgaW4yPSJlZmZlY3QxX2Ryb3BTaGFkb3dfMTA2MTVfNzgiIHJlc3VsdD0ic2hhcGUiLz48L2ZpbHRlcj48L2RlZnM+PC9zdmc+");
}

div.chroma_threshold_values {
  display: flex;
  flex-direction: row;
  font-feature-settings: "tnum";
  font-size: 12px !important;
  line-height: 16px !important;
  font-weight: 400;
  color: var(--content-tertiary);
  font-size: 14px;
  padding: 4px 8px;
}

div.chroma_threshold_values label {
  margin: 0px !important;
}

div.chroma_threshold_values > *:nth-child(1) {
  flex-grow: 1;
}


/*
/*
 * Chroma Color selection
 */
div.chroma_colorpick {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 32px;
  width: auto;
  gap: 12px;
  margin-inline-start: 12px;
  margin-bottom: 12px;
}

div.chroma_colorpick input {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 12px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  cursor: pointer;
  -moz-appearance: initial;
}

div.chroma_colorpick input[type="color"] {
  position: relative;
  width: 40px;
  border-radius: 12px
}

div.chroma_colorpick input[type="color"] + span.chroma_colorwheel {
    --wheel-offset: -36px; /* Input width (24px) + chroma_colorpick gap (12px) */
    width: 24px;
    height: 24px;
    border: 1px solid white;
    border-radius: 50%;
    z-index: 1;
    pointer-events: none; /* Allows click-thru to the underlying input */
    cursor: pointer;
    margin-left: var(--wheel-offset);
    background: radial-gradient(white 0%, transparent 35%, transparent 100%),
      conic-gradient(
        from 90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

div.chroma_colorpick input.selected_color {
  outline-color: var(--action-secondary);
}

div.chroma_colorpick input::-moz-color-swatch,
div.chroma_colorpick input.selected_color::-moz-color-swatch {
  border: none !important;
  border-radius: 12px !important;
}

div.chroma_colorpick input::-webkit-color-swatch,
div.chroma_colorpick input.selected_color::-webkit-color-swatch {
  border: none !important;
  border-radius: 12px !important;
}
